body {
    width: 1920px;
    height: 1080px;
}


.container {
    height: auto;
    width: 1100px;
    margin: 10px 510px 0px 510px;
}
.header {
    margin-top: 50px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

.header, .block-img, .block-text {
    width: 1100px;
}


.header-text {
    display: flex;
    gap: 10px;
    align-items: center;
}



.header-text img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.header-title {
    font-family: 'Merriweather', serif;
    font-size: 40px;

}
.block-text {
    color: rgb(91, 89, 89);
    line-height: 24px;
}